<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Upload text</title>
    <link rel="stylesheet" href="../static/main.css?v=1.1">
    <link rel="stylesheet" href="../static/search.css?v=1.1">

    <link rel="stylesheet" href="../static/upload.css?v=1.1">
</head>
<body>
    <header>
        <nav class="menu">
            <a href="/" class="header-button">На главную</a>
            <a href="/upload" class="header-button">Добавление текстов</a>
            <a href="/probabilistic_search" class="header-button">Вероятностный поиск</a>
            <a href="/metrics" class="header-button">Метрики</a>
        </nav>
    </header>
<div>
    <h1>Добавление текста</h1>
    <form class="form-control" enctype='multipart/form-data' method="post">
        <label for="url">Прикрепите файл</label><br>
        <input type="file" name="url" id="url" placeholder="URL" class="input-up"><br>
        <button type="submit" class="btn-submit">Добавить</button>
    </form>
    {% if url %}
        <h2>Полученные данные:</h2>
        <p>URL: {{ url }}</p>
    {% endif %}
</div>
</body>
</html>
